@page
@model IndexModel
@{
    ViewData["Title"] = "Train Booking Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <td>
        <a href="/Trains">Trains Info</a> |
        <a href="/Customers">Customers Info</a> |
        <a href="/CustomerTrains/Create">Customer Train Booking</a>
        <a href="/CustomerTrains">Display Customer Train</a>
    </td>
</div>
