@page
@model CustomerTrainBooking.Pages.Trains.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Train</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Train.TrainID" />
            <div class="form-group">
                <label asp-for="Train.DepartureTime" class="control-label"></label>
                <input asp-for="Train.DepartureTime" class="form-control" />
                <span asp-validation-for="Train.DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Train.Destination" class="control-label"></label>
                <input asp-for="Train.Destination" class="form-control" />
                <span asp-validation-for="Train.Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Train.SeatNumber" class="control-label"></label>
                <input asp-for="Train.SeatNumber" class="form-control" />
                <span asp-validation-for="Train.SeatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Train.SeatType" class="control-label"></label>
                <input asp-for="Train.SeatType" class="form-control" />
                <span asp-validation-for="Train.SeatType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Train.Available" class="control-label"></label>
                <input asp-for="Train.Available" class="form-control" />
                <span asp-validation-for="Train.Available" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
